extends layout

block content
	- var className = 'item '+' rows'+rows+' columns'+columns
	div#main
		each item in items
			div(class=className)
				div
					h2= item.summary
					h3
						span= item.weekDay
						span= item.dateStr
					if item.description
						div= item.description
					if item.timeStr
						div= item.timeStr
					if item.location
						div.location= item.location
		if items.length == 0
			img#logo(src='/images/itp-logo.png' width="10%")
			div.centered
				div.your YOUR PROJECT HERE
				p SUBMIT YOUR video/Project TODAY TO
				p itpscreens2014@gmail.com
		else
			div.clear